<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JenkinsInterfaceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <JenkinsInterfaceTest.Properties.Settings>
            <setting name="CommandList" serializeAs="String">
                <value>job/Job_Build_Master_calc/build,job/Job_Build_Master_calc/LastStableBuild/api/xml/,job/Job_Build_Master_calc/api/xml/,job/api/xml/,manage/computer/,manage/computer/windowagent1/builds/,view/all/api/xml?tree=jobs[name],views[name,jobs[name]],job/Job_Build_Master_calc/33/logText/progressiveText?start=0,job/Job_Build_Master_calc/##/api/xml/</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>jenkins</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value>11812367e96a53ffe4324f6a469d132a92</value>
            </setting>
            <setting name="ConfigFile" serializeAs="String">
                <value>Jenkins.ini</value>
            </setting>
        </JenkinsInterfaceTest.Properties.Settings>
    </applicationSettings>
</configuration>